body {
    color: green;
}
ul {
    color: blue;
}
ul, 
ol {
    display: inline-block;
}
.mylist {
    /* list-style: none; */
    color: red;
}
.mylist li {
    margin: 5px;
}
.mylist .css {
    color: blue;
}
.mylist.list {
    color: green;
}
.mylist li:nth-of-type(3) {
    color: yellow;
}
.mylist li:nth-of-type(3) {
    color: yellow;
}
body p.css {
    font-size: 30px;
}
/* 
#myid {
    color: lightblue;
} */