* {
  box-sizing: border-box;
  margin: 0;
  padding-left: 0;
}

main {
  background-color: blue;
  min-height: fit-content;
  min-width: fit-content;
  margin: 30vh 50vh;
  padding: 40px 50px;
  
  display: flex;
  align-items: stretch;
  justify-content: space-between ;
  flex-direction: column;
  }

.user1, 
.user2 {
background-color: white;
min-width: 100px;
min-height: 100px;
padding: 20px 25px 20px 15px;
display: flex;
justify-content: flex-start;
align-items: center;
}

.user1 {
margin-bottom: 2px;

}
.photo {
  height: 62px;
  width: 62px;
  border-radius: 50%;
  margin-right: 25px;
  background-color: lightgrey;
}

input {
  display: flex;
  flex-direction: column;
  justify-content: center;  
}
.input1 {
  max-width:150px;
min-height: 20px;
background-color: grey;
margin-bottom: 15px;
align-self: flex-start;
}

.input2 {
  min-width: 200px;
  min-height: 20px;
  background-color: lightgray;
}
